body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c35;
  color: #fff;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

section {
  flex: 1;
  padding: 50px 0;
  text-align: center;
}

section > .contentWrapper {
  max-width: 800px;
  margin: auto;
}

section > .contentWrapper p {
  font-size: 18px;
  padding: 0 0 20px 0;
}

#inst {
  text-align: center;
}

#detail {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

#input,
#control {
  padding-bottom: 20px;
}

textarea#input_scores {
  border: 1px solid #777;
  padding: 15px;
  font-size: 16px;
  display: inline-block;
  height: 100px;
  line-height: 20px;
  border-radius: 20px;
  text-align: center;
  resize: vertical;
  margin-bottom: -4px;
  width: calc(100% - 22px);
  overflow-y: auto;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

textarea#input_scores:hover {
  background-color: #f0f0ff;
}

textarea#input_scores:focus,
input {
  outline: none;
}

#block_scores {
  padding-top: 6px;
}

.input_score {
  padding-bottom: 6px;
}

.input_score.static {
  text-align: center;
}

.input_score.variable input {
  float: left;
  display: block;
  margin-right: 5px;
}

.input_score.static input {
  display: inline-block;
}

.input_score.static input + input {
  display: inline-block;
  margin-left: 5px;
}

.input_score input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 2px 10px;
  font-size: 16px;
  height: 25px;
}

.input_score input:not([readonly]):hover {
  background-color: #f0f0ff;
}

.input_score input[name="level"],
.input_score input[name="weight"],
.input_score input[name="score"] {
  width: 60px;
  text-align: center;
}

.input_score input[name="scoreType"] {
  width: calc(100% - 120px);
}

#control {
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
}

#control > div {
  text-align: center;
}

#deletables,
#finalexam {
  text-align: center;
  padding: 6px 0;
}

#finalexam > input[type="checkbox"] {
  transform: translateY(1px);
}

#detail > img {
  width: 100%;
  display: block;
  max-width: 600px;
  margin: auto;
  padding-bottom: 20px;
}

#result {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chart,
.diagnostic {
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div,
.row > div > span {
  font-family: "Segoe UI", "Arial";
  font-size: 16px;
  font-weight: normal;
  flex: 1;
}

.row.tuple {
  border-bottom: 1px solid #ccc;
}

.scoreType > span {
  display: none;
}

.scoreType,
.weight,
.score {
  flex: 1;
  padding: 2px 10px;
}

.scoreType {
  width: calc(100% - 260px);
}

.weight,
.score {
  width: 100px;
}

.scoreType,
.weight,
.score {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row.tuple.average > div,
.row.tuple.average > div > span {
  font-weight: bold;
}

.diagnostic {
  width: 100%;
  max-width: 320px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.diagnostic > .row,
.diagnostic > .row > span {
  font-family: "Segoe UI", "Arial";
  font-size: 16px;
  font-weight: normal;
}

span[stts="1"] {
  color: #f00;
}

span[stts="2"] {
  color: #f70;
}

span[stts="3"] {
  color: #0b0;
}

span[stts="4"] {
  color: #00f;
}

@media screen and (max-width: 800px) {
  section {
    padding: 30px 0;
  }

  textarea#input_scores {
    width: calc(100% - 22px);
  }

  .input_score input[name="level"],
  .input_score input[name="weight"],
  .input_score input[name="score"] {
    width: 100%;
  }

  .input_score input[name="scoreType"] {
    width: 100%;
  }

  .row > div,
  .row > div > span {
    font-size: 14px;
  }

  .scoreType {
    width: calc(100% - 220px);
  }

  .weight,
  .score {
    width: 80px;
  }

  .diagnostic > .row,
  .diagnostic > .row > span {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    font-size: 40px;
  }

  .subtitle {
    font-size: 18px;
  }

  section > .contentWrapper p {
    font-size: 16px;
  }

  #mode {
    font-size: 18px;
  }

  .input_score input {
    font-size: 14px;
    padding: 2px 5px;
  }

  .input_score input[name="level"],
  .input_score input[name="weight"],
  .input_score input[name="score"] {
    width: 40px;
  }

  .input_score input[name="scoreType"] {
    width: calc(100% - 250px);
  }

  .row > div,
  .row > div > span {
    font-size: 14px;
  }

  .scoreType {
    width: calc(100% - 220px);
  }

  .weight,
  .score {
    width: 80px;
  }

  .diagnostic > .row,
  .diagnostic > .row > span {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  #mode {
    font-size: 14px;
  }

  #mode > a {
    line-height: 40px;
    padding: 0 10px;
  }

  #mode > a:first-child {
    border-radius: 20px 0 0 20px;
    padding-left: 12px;
  }

  #mode > a:last-child {
    border-radius: 0 20px 20px 0;
    padding-right: 12px;
  }

  textarea#input_scores {
    font-size: 13px;
  }

  .input_score input {
    padding: 2px 5px;
  }

  .input_score input[name="level"],
  .input_score input[name="weight"],
  .input_score input[name="score"] {
    width: 12px;
  }

  .input_score input[name="scoreType"] {
    width: calc(100% - 160px);
  }

  .input_score input[name="weight"],
  .input_score input[name="score"] {
    width: 20px;
  }

  .delete {
    width: 24px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 12px;
    margin-top: 3px;
  }

  .scoreType {
    width: calc(100% - 20px);
  }

  .weight,
  .score {
    display: none;
  }

  .scoreType > span {
    display: inline;
  }
}
.usil-note {
  background-color: #ffeb3b;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  border: 2px solid #f57f17;
  margin-bottom: 20px;
}
